---
import ExperienceItem from "./ExperienceItem.astro"

const EXPERIENCIE = [
    {
        title: "Eco-Habitat - ITSOEH",
        date: "12 de diciembre, 2023",
        description: "Responsable del apartado Frontend en el módulo de accesibilidad para personas con discapacidades visuales. "
    },
    {
        title: "Visión Artificial Aplicada a la Biometría - ESIME Culhuacán, Instituto Politécnico Nacional, Sección de posgrado.",
        date: "10 de diciembre, 2024",
        description: "Participé en el desarrollo de un sistema de reconocimiento biométrico haciendo uso de matplotliv, mediaPipe, OpenCV y PyWavelets. Capaz de utilizar técnicas avanzadas de visión artificial y procesamiento de señales."
    },
    {
        title: "Mobile POS",
        date: "06 de abril, 2025",
        description: "Principal desarrollador frontend, UX/UI designer, diseñador de interfaces y encargado de la generación de reportes de productos."
    }
]
---

<ol class="relative border-s border-gray-200 dark:border-gray-700">    
    {
        EXPERIENCIE.map(experiencie => (
            <li class="mb-10 ms-4">
                <ExperienceItem {...experiencie} />
            </li>
        ))
    }              
</ol>

