---
import ExperienceItem from "./ExperienceItem.astro"

const EXPERIENCIE = [
    {
        title: "Eco-Habitat - ITSOEH",
        date: "December 12th, 2023",
        description: "A web application for Habitats management on State of Hidalgo, Mexico."
    },
    {
        title: "Visión Artificial Aplicada a la Biometría - ESIME Culhuacán, Instituto Politécnico Nacional, Sección de posgrado.",
        date: "December 10th, 2024",
        description: "I developed a biometric recognition system using Python, OpenCV, MediaPipe, Matplotliv and PyWavelets. Capable of using advanced techniques of artificial vision and signal processing."
    }
]
---

<ol class="relative border-s border-gray-200 dark:border-gray-700">    
    {
        EXPERIENCIE.map(experiencie => (
            <li class="mb-10 ms-4">
                <ExperienceItem {...experiencie} />
            </li>
        ))
    }              
</ol>

